<footer class="footer_area section_padding_130_0">
    <div class="container">
      <div class="row">
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Footer Logo-->
            <div class="footer-logo mb-3 d-flex">
                <img class="profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWb4J85s52h2JDlbdioQ0FVZ3BAREvVNHscA&usqp=CAU" alt="">
            </div>
            <!-- Copywrite Text-->
            <div class="copywrite-text mb-5">
              <p class="mb-0">Developed<i class="lni-heart mr-1"></i>by<a class="ml-1">Saiba Aslam</a></p>
              <p class="mb-0">Roll<i class="lni-heart mr-1"></i>No<a class="ml-1">02</a></p>
            </div>
            <!-- Footer Social Area-->
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Links</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a routerLink="categories">Services</a></li>
                <li><a routerLink="signup">Signup</a></li>
                <li><a routerLink="login">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Support</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a >Help</a></li>
                <li><a >Support</a></li>
                <li><a >Privacy Policy</a></li>
                <li><a >Term &amp; Conditions</a></li>
                <li><a >Help &amp; Support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Contact</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a >Call Centre</a></li>
                <li><a >Email Us</a></li>
                <li><a >Term &amp; Conditions</a></li>
                <li><a >Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>