<div class=" card container w-75 my-5">
    
        <div class="card-header text-dark my-3 ">
            CHANGE PASSWORD
        </div>

        <div class="card-body">
        <form #changePassForm="ngForm">
            <!-- Old Password  -->
            <div class="form-group">
                <!-- <label for="oldPassword">Old Password</label> -->
                <input type="password" class="form-control" placeholder="Your old password" required id="oldPassword"
                    name="Password" #oldPassword="ngModel" [(ngModel)]="changePasswordModel.oldPassword"
                    [class.is-invalid]="oldPassword.touched&& oldPassword.invalid">
                <div *ngIf="oldPassword.touched && oldPassword.invalid" class="text-danger">
                    <div *ngIf="oldPassword.errors && oldPassword.errors['required']">
                        *Your old Password is required
                    </div>
                </div>
            </div>


            <!-- New Password  -->
            <div class="form-group mt-5">
                <!-- <label for="newPassword">New Password</label> -->
                <input type="password" class="form-control" required id="newPassword" placeholder="Your new password"
                    name="newPassword" #newPassword="ngModel" [(ngModel)]="changePasswordModel.newPassword"
                    [class.is-invalid]="newPassword.touched&& newPassword.invalid">
                <div *ngIf="newPassword.touched && newPassword.invalid" class="text-danger">
                    <div *ngIf="newPassword.errors && newPassword.errors['required']">
                        *Your new Password is required
                    </div>
                </div>
            </div>

            <!-- Confirm Password  -->
            <div class="form-group mt-5">
                <!-- <label for="confirmPassword">Confirm Password</label> -->
                <input type="password" class="form-control" required placeholder="Enter new password again"
                    id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                    [(ngModel)]="changePasswordModel.confirmPassword"
                    [class.is-invalid]="confirmPassword.touched&& confirmPassword.invalid">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="text-danger">
                    <div *ngIf="confirmPassword.errors && confirmPassword.errors['required']">
                        Please enter your password again
                    </div>
                </div>


                <!-- Submit Button  -->

                <div class="form-group text-center mt-5 mb-5">
                    <button class="btn btn-outline-danger submit-button" (click)="changePassword()">Change</button>
                </div>
            </div>


        </form>
    </div>

    
</div>