.form-body{
  /* width: 30vw;
  margin: auto;
  margin-top: 6vh;
  padding:.1%;
  /* border: 2px solid rgb(110, 105, 105); */

  width: 40vw;
  margin-left: 100px;
  margin-top: 8vh;
  padding: .1%;
  border-radius: 5%;
  box-shadow: 4px 9px 20px 0px grey;

}
form{
  width: 80%;
  margin: auto;
}

.submit-button{
  width: 50%;
  text-align: center;
}


